@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Parisienne&family=Raleway:wght@400;500;600;700;800;900&display=swap");
@layer Base {
  body {
    @apply font-[Raleway];
  }
  h2 {
    @apply font-[Parisienne];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
.logo {
  font-family: Nunito;
  font-weight: 900 !important;
  font-size: 20px !important;
}
@media (max-width: 800px) {
  .navbar .logo {
    font-size: 18px;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #595c6e transparent !important;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #595c6e;
  border-radius: 10px;
  border: transparent;
}
